// Override configuration for simulator build
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
SUPPORTS_MACCATALYST = NO
VALID_ARCHS = arm64 x86_64
EXCLUDED_ARCHS = 
ONLY_ACTIVE_ARCH = NO
CODE_SIGN_IDENTITY = 
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO
DEVELOPMENT_TEAM = 
ENABLE_BITCODE = NO
